//Cores

$cor-botao: #e50914;
$cor-botao-hover: #f7111c;
$cor-fonte-footer: #717575;
$cor-fundo-botao-faq: #303030;
$cor-borda: #222222;

//Container

$desktop-grande: 1125px;
$desktop: 949px;
$tablet: 739px;
$smartphone: 549px;
